.D5Logo{
    width: 60%;
    height: 100%;
    background-color: black;
    position: absolute; top: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formContainer{
    Width:40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    position: absolute; top: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face {
    font-family: 'D5Font';
    src: url("/Users/deniskadrich/Documents/D5/trial/public/Urban Heroes.ttf") format('truetype');
  }

.D5Header{
    font-family: "d5Font";
    font-size: 20vw;
}

.LoginForm{
    margin: 200px auto;
    padding: 20px;
    text-align: center;
}

@media (max-width: 420px) {
    .D5Header {
      font-size: 100px;
    }
    .D5Logo{
      display: none;
    }
    .formContainer{
    Width:100%;
    height:100%;
    }
  }

  .topBanner{
    display: none;
  }


  @media only screen and (max-width: 420px) {
    .topBanner {
        position: absolute; top: 0;
        font-family: "d5Font";
        background-color: black;
        color:white;
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
    }
  }
