*{
    font-family: 'lobster';
}


.X{
    padding-top: 20px;
    padding-bottom: 70px;
    cursor: pointer;
}


.links{
    align-items: center;
    font-size: medium;
    padding-bottom: 40px;
    
}

.name{
    margin-left: 10px;
    position: relative;
    color: rgb(255, 255, 255);
}

.container{
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute; top: 0; left: 0;
    z-index: 99 !important;
    border: 2px solid black;
    }

.linksH:hover{
    border-radius: 99px;
    padding: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0);;
    border: 2px solid black;
}

.menuIcon{
    position: absolute; 
    top: 25px; 
    right: 20px; 
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu {
    background-color: rgb(255, 255, 255);
    width: 150px;
    height: 100%;
    top: 0;
    display: flex;
    position: fixed;  
    left: -100%;
    transition: 850ms;
    border: 10px solid black;
    margin-top: 66px;
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  .nav-menu-items{
    list-style: none; 
    text-decoration: none;
  }
