*{
    font-family: 'lobster';
}


.links{
    font-size: medium;
    padding-bottom: 40px;
    padding-top: 40px;
   
}

.name{
    margin-left: 10px;
    position: relative;
    color: rgb(255, 255, 255);
    width: 50px;
}

.container{
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: absolute; top: 0; left: 0;
    z-index: 99 !important;
    }

.linksH:hover{
    border-radius: 99px;
    padding: 10px 10px 10px 10px;
    /* box-shadow: 2px 2px 2px 2px rgb(255, 255, 255);; */
    border: 3px solid rgb(255, 0, 0);
}

.menuIcon{
    position: absolute; 
    top: 25px; 
    right: 20px; 
    font-size: 2rem;
    cursor: pointer;
}

.nav-menu {
    background-color: rgb(0, 0, 0);
    width: 150px;
    height: 100%;
    top: 0;
    display: flex;
    position: fixed;  
    left: -100%;
    transition: 850ms;
    border-right: 5px solid rgb(255, 0, 0);
    margin-top: 118px;
  }
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }

  .nav-menu-items{
    list-style: none; 
    text-decoration: none;
    color: white;
  }

  .navBar-toggle{
    padding-left: 75px;
    cursor: pointer;
  }